.about {
  overflow: hidden;
  padding: 3rem 2rem 7rem 0;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-row .about-column {
  width: 45%;
}
.about-row .about-column img {
  width: 100%;
}
.about-text {
  padding-top: 30px;
  margin-bottom: 30px;
}
.about-text .title {
  margin-bottom: 32px;
}

.title span {
  font-size: 16px;
  color: #287ff9;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}

.title h2 {
  color: #111111;
  font-size: 40px;
  font-weight: 500;
  font-family: "Nuosu SIL", serif;
}

.about-text p {
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
  color: #111111;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 42px;
}

.learn-btn {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #28ae60;
  border-radius: 50px;
  padding: 14px 40px;
  display: inline-block;
}

@media screen and (max-width: 1230px) {
  .about-text .section-title {
    margin-bottom: 20px;
  }
  .about-text {
    padding-top: 20px;
  }
  .about-text p {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1070px) {
  .about {
    padding: 3rem 0 7rem 0;
  }
  .about-row {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 4rem 2rem;
  }
  .about-row .about-column {
    width: 100%;
    text-align: center;
  }
  .about-text {
    padding-top: 50px;
    padding-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .section-title span {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .section-title h2 {
    color: #111111;
    font-size: 35px;
    font-weight: 500;
  }
  .about-text p {
    font-size: 15px;
    margin-bottom: 30px;
  }
}
