.contact {
  position: relative;
}
iframe {
  width: 100%;
  margin-bottom: -10px;
}

.map .address {
  position: absolute;
  top: 75px;
  top: 20px;
  right: 0;
}

.map .address h3 {
  color: #fff;
  background-color: #28ae60;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 18px 0;
  line-height: 1;
  margin: 0;
}

.map .address .address-info {
  background: #fff;
  padding: 29px;
}

.map .address .address-info .Email {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dbe2e9;
}
