.res-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.top-area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.column {
  display: flex;
}

.social-icon i {
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.social-icon i:hover {
  color: #28ae60;
}

.info span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-right: 40px;
  color: #fff;
}

.info i {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
}

/* Bottom Section */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.bottom-row a h1 {
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  padding: 25px 10px;
  letter-spacing: 0.5px;
  margin: 0;
  color: #fff;
}

.bottom-row a h1 span {
  color: #28ae60;
}

.menu {
  display: flex;
}

.menu li a {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  padding: 20px 10px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  color: #28ae60;
}

.nav-border {
  border-bottom: 1px solid #4b4e50;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.slicknav_menu {
  display: none;
}

.show {
  position: absolute;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  box-shadow: 0 3px 16px 0 rgb(0, 0, 0 / 10%);
  background-color: #2c2a2f;
  transform: translateY(70px);
  transition: transform 1s ease;
}

@media screen and (max-width: 985px) {
  .show {
    display: none;
  }

  .slicknav_menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    padding: 10px;
    background-color: #4b4e50;
    color: #fff;
  }
  .slicknav_menutxt {
    color: #fff;
  }
  .slicknav_nav a {
    color: #fff;
  }
  .menu {
    display: none;
  }
  .top-area {
    display: none;
  }
  .bottom-row a h1 {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px 0;
    color: #fff;
  }
  .border {
    display: none;
  }
}
